$blue: #1573FF;
$yellow: #F7BA4B;

$purple: #8836AE;

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 80px;
}

.footnote {
    padding: 12.5px 25px;
    border: 1px solid white;
    border-radius: 20px;
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.9px;
    color: white;
}

.title {
    flex-shrink: 0;
    font-size: 78px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    color: white;
    text-align: center;
}

.header {
    background: rgba(18, 1, 39, 0.60);
    color: white;
    margin-bottom: 50px;

    &__content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-top: 18px;
        padding-bottom: 12px;
    }

    &__icon {
        flex: 1 1 auto;
        font-family: Arial;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 79px;
        display: flex;

        &::before {
            display: block;
            width: 75px;
            height: 68px;
            margin-right: 14px;
            content: "";
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='75' height='68' viewBox='0 0 75 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5954 49.7408C13.917 49.7406 12.3058 50.3409 11.1094 51.4122C9.91294 52.4835 9.22718 53.9399 9.20002 55.4673C9.18629 56.2396 9.34157 57.0066 9.65681 57.7237C9.97205 58.4409 10.441 59.0937 11.0362 59.6442C11.6314 60.1947 12.3411 60.6319 13.1238 60.9303C13.9066 61.2287 14.7467 61.3823 15.5954 61.3822C15.5954 61.3822 67.442 61.3685 67.442 61.3526V49.7704C67.442 49.7535 15.5954 49.7408 15.5954 49.7408Z' fill='white'/%3E%3Cpath d='M37.2094 45.5075C47.4845 45.5075 55.8141 39.8216 55.8141 32.8077C55.8141 25.7939 47.4845 20.108 37.2094 20.108C26.9343 20.108 18.6047 25.7939 18.6047 32.8077C18.6047 39.8216 26.9343 45.5075 37.2094 45.5075Z' fill='%239A5706'/%3E%3Cpath d='M36.9477 6.352C33.238 6.4857 29.732 7.9312 27.1751 10.3811C24.6181 12.831 23.2121 16.0921 23.2559 19.4709V24.3412C24.6535 24.9772 25.8289 25.9549 26.6504 27.1646C27.4719 28.3744 27.907 29.7685 27.907 31.1906V36.751C27.8759 38.9361 28.7536 41.0511 30.3641 42.6718C31.9747 44.2925 34.1989 45.299 36.5908 45.4895C37.8617 45.5666 39.1365 45.4053 40.3362 45.0156C41.5359 44.6259 42.6348 44.0162 43.565 43.2241C44.4951 42.432 45.2366 41.4745 45.7435 40.4109C46.2503 39.3473 46.5118 38.2003 46.5117 37.041V31.1906C46.5117 29.7685 46.9469 28.3744 47.7684 27.1646C48.5899 25.9549 49.7653 24.9772 51.1629 24.3412V19.0497C51.1629 17.3618 50.7933 15.691 50.0756 14.1347C49.3579 12.5784 48.3066 11.1679 46.9831 9.98569C45.6596 8.80347 44.0904 7.87321 42.3674 7.24931C40.6443 6.6254 38.8019 6.32036 36.9477 6.352Z' fill='%23C68C47'/%3E%3Cpath d='M48.3885 12.2775C46.2688 12.2869 44.1756 12.7069 42.2481 13.5096C40.3206 14.3123 38.603 15.4793 37.2094 16.933C37.2094 16.933 37.7047 7.4082 45.2059 7.4082C52.6315 7.4082 55.8141 4.23326 55.8141 4.23326C55.8141 4.23326 55.8141 12.2775 48.3885 12.2775ZM26.0303 12.2775C28.15 12.2869 30.2431 12.7069 32.1706 13.5096C34.0982 14.3123 35.8158 15.4793 37.2094 16.933C37.2094 16.933 36.714 7.4082 29.2129 7.4082C21.7873 7.4082 18.6047 4.23326 18.6047 4.23326C18.6047 4.23326 18.6047 12.2775 26.0303 12.2775Z' fill='%239A5706'/%3E%3Cpath d='M44.1861 22.2246C43.7262 22.2246 43.2765 22.1005 42.8941 21.8679C42.5117 21.6353 42.2136 21.3047 42.0376 20.918C41.8616 20.5312 41.8155 20.1056 41.9052 19.695C41.995 19.2845 42.2165 18.9073 42.5417 18.6113C42.8669 18.3153 43.2813 18.1137 43.7324 18.032C44.1836 17.9503 44.6511 17.9923 45.0761 18.1525C45.501 18.3127 45.8643 18.584 46.1198 18.932C46.3753 19.2801 46.5117 19.6893 46.5117 20.108C46.5111 20.6692 46.2659 21.2072 45.8299 21.604C45.3939 22.0009 44.8027 22.224 44.1861 22.2246ZM30.2326 22.2246C29.7727 22.2246 29.323 22.1005 28.9406 21.8679C28.5581 21.6353 28.2601 21.3047 28.0841 20.918C27.908 20.5312 27.862 20.1056 27.9517 19.695C28.0414 19.2845 28.2629 18.9073 28.5882 18.6113C28.9134 18.3153 29.3278 18.1137 29.7789 18.032C30.23 17.9503 30.6976 17.9923 31.1226 18.1525C31.5475 18.3127 31.9107 18.584 32.1663 18.932C32.4218 19.2801 32.5582 19.6893 32.5582 20.108C32.5576 20.6692 32.3124 21.2072 31.8764 21.604C31.4404 22.0009 30.8492 22.224 30.2326 22.2246Z' fill='white'/%3E%3Cpath d='M9.09653 55.5615C9.09653 54.0177 9.77032 52.5372 10.9697 51.4456C12.169 50.354 13.7957 49.7408 15.4919 49.7408H67.442C68.0588 49.7408 68.6503 49.5178 69.0864 49.1208C69.5226 48.7239 69.7676 48.1855 69.7676 47.6241C69.7676 47.0628 69.5226 46.5244 69.0864 46.1275C68.6503 45.7305 68.0588 45.5075 67.442 45.5075H15.6977C12.768 45.5075 9.95825 46.5668 7.88662 48.4523C5.815 50.3377 4.65117 52.895 4.65117 55.5615C4.65117 58.228 5.815 60.7853 7.88662 62.6707C9.95825 64.5562 12.768 65.6155 15.6977 65.6155H67.442C68.0588 65.6155 68.6503 65.3925 69.0864 64.9955C69.5226 64.5986 69.7676 64.0602 69.7676 63.4989C69.7676 62.9375 69.5226 62.3991 69.0864 62.0022C68.6503 61.6052 68.0588 61.3822 67.442 61.3822H15.4919C13.7957 61.3822 12.169 60.769 10.9697 59.6774C9.77032 58.5858 9.09653 57.1053 9.09653 55.5615Z' fill='%23DB3A3A'/%3E%3Cpath d='M68.6048 60.5186V50.6044C69.38 50.3558 70.0336 49.8656 70.4497 49.2206C70.8659 48.5755 71.0178 47.8172 70.8785 47.08C70.7392 46.3428 70.3178 45.6742 69.6888 45.1927C69.0598 44.7112 68.2639 44.4478 67.442 44.4492H47.6768C53.2675 42.0098 56.9769 37.694 56.9769 32.8077C56.9294 31.1197 56.4906 29.4597 55.689 27.9368C54.8874 26.4139 53.7413 25.0624 52.3257 23.9708V19.0497C52.3225 16.9692 51.7975 14.9168 50.7908 13.049C55.6152 11.8277 56.9769 6.97112 56.9769 4.23326L56.971 1.56631L54.9606 3.5136C54.8408 3.63002 51.9571 6.34989 45.2059 6.34989C44.6118 6.3554 44.0201 6.42106 43.4419 6.54567C41.401 5.68867 39.1742 5.26076 36.9268 5.29369C34.8894 5.33406 32.8844 5.76575 31.0431 6.56049C30.444 6.42622 29.8298 6.35555 29.2128 6.34989C22.4617 6.34989 19.5779 3.63002 19.464 3.51995L17.4419 1.50281V4.23326C17.4419 6.99546 18.8245 11.9124 23.7466 13.0808C22.6613 15.0662 22.0954 17.2533 22.0931 19.4709V23.9719C20.6776 25.0633 19.5315 26.4147 18.73 27.9374C17.9284 29.4601 17.4895 31.1198 17.4419 32.8077C17.4419 37.6961 21.1535 42.0119 26.7501 44.4492H15.6977C12.4596 44.4492 9.3541 45.62 7.06441 47.7039C4.77472 49.7879 3.48838 52.6143 3.48838 55.5615C3.48838 58.5087 4.77472 61.3351 7.06441 63.4191C9.3541 65.503 12.4596 66.6738 15.6977 66.6738H67.442C68.2639 66.6752 69.0598 66.4118 69.6888 65.9303C70.3178 65.4488 70.7392 64.7802 70.8785 64.043C71.0178 63.3058 70.8659 62.5475 70.4497 61.9024C70.0336 61.2574 69.38 60.7672 68.6048 60.5186ZM66.2792 56.0907H55.8141V58.2073H66.2792V60.3239H15.4919C14.1041 60.3239 12.7732 59.8222 11.7919 58.929C10.8106 58.0359 10.2593 56.8246 10.2593 55.5615C10.2593 54.2984 10.8106 53.0871 11.7919 52.194C12.7732 51.3008 14.1041 50.7991 15.4919 50.7991H66.2792V56.0907ZM24.4187 23.7147V19.4709C24.4207 17.3195 25.0438 15.2064 26.2256 13.3432C28.1334 13.3852 30.0113 13.7834 31.7431 14.513C33.4749 15.2427 35.0235 16.2882 36.2931 17.5849L37.2094 18.6538L38.1257 17.5849C39.4025 16.269 40.9683 15.2112 42.7219 14.4799C44.4756 13.7485 46.3782 13.3599 48.3071 13.339C49.4061 15.0767 49.9896 17.0447 50.0001 19.0497V23.7147C48.5775 24.4851 47.4003 25.5799 46.5846 26.891C45.7689 28.202 45.343 29.684 45.3489 31.1906V37.041C45.3489 38.0556 45.1198 39.0594 44.6761 39.9901C44.2323 40.9208 43.5832 41.7587 42.7691 42.4518C41.9549 43.1448 40.9931 43.6783 39.9431 44.0192C38.8932 44.36 37.7775 44.501 36.6652 44.4333C34.5659 44.2656 32.6146 43.3795 31.205 41.9538C29.7953 40.528 29.0323 38.6687 29.0698 36.751V31.1906C29.0757 29.684 28.6498 28.202 27.8342 26.891C27.0185 25.5799 25.8412 24.4851 24.4187 23.7147ZM54.6513 32.8077C54.6513 37.2548 50.8547 41.1504 45.2687 43.1009C46.8172 41.3953 47.6675 39.2535 47.6745 37.041V31.1906C47.6714 30.0978 47.9687 29.0215 48.5394 28.0599C49.1101 27.0984 49.936 26.282 50.942 25.6853C52.0661 26.5758 52.9759 27.6681 53.6142 28.8938C54.2525 30.1195 54.6056 31.452 54.6513 32.8077ZM54.3141 6.52557C53.7582 8.56388 52.2861 11.2192 48.3885 11.2192C44.9802 11.218 41.6619 12.2143 38.9233 14.0608C39.6605 11.5843 41.3559 8.46652 45.2059 8.46652C48.3745 8.54037 51.5108 7.87202 54.3141 6.52557ZM36.9698 7.41032C38.1464 7.39131 39.3198 7.5253 40.4547 7.80824C38.9729 8.91329 37.8507 10.3657 37.2094 12.0087C36.5699 10.3705 35.4529 8.92146 33.978 7.81671C34.9525 7.56711 35.9577 7.43057 36.9698 7.41032ZM20.114 6.53086C22.9152 7.87361 26.0479 8.54006 29.2128 8.46652C33.0629 8.46652 34.7582 11.5854 35.4954 14.0608C32.7568 12.2143 29.4385 11.218 26.0303 11.2192C22.1559 11.2192 20.6779 8.56917 20.114 6.53086ZM19.7675 32.8077C19.8132 31.452 20.1662 30.1195 20.8046 28.8938C21.4429 27.6681 22.3527 26.5758 23.4768 25.6853C24.4828 26.282 25.3087 27.0984 25.8794 28.0599C26.4501 29.0215 26.7474 30.0978 26.7442 31.1906V36.751C26.7413 39.0761 27.6314 41.329 29.2605 43.12C23.6163 41.1864 19.7675 37.2823 19.7675 32.8077ZM67.442 64.5572H15.6977C13.0764 64.5572 10.5624 63.6094 8.70885 61.9224C6.85529 60.2354 5.81397 57.9473 5.81397 55.5615C5.81397 53.1757 6.85529 50.8876 8.70885 49.2006C10.5624 47.5136 13.0764 46.5658 15.6977 46.5658H67.442C67.7504 46.5658 68.0461 46.6773 68.2642 46.8758C68.4823 47.0743 68.6048 47.3435 68.6048 47.6241C68.6048 47.9048 68.4823 48.174 68.2642 48.3725C68.0461 48.571 67.7504 48.6825 67.442 48.6825H15.4919C13.4873 48.6825 11.5649 49.4072 10.1475 50.6973C8.73004 51.9874 7.93374 53.7371 7.93374 55.5615C7.93374 57.3859 8.73004 59.1356 10.1475 60.4257C11.5649 61.7158 13.4873 62.4405 15.4919 62.4405H67.442C67.7504 62.4405 68.0461 62.552 68.2642 62.7505C68.4823 62.949 68.6048 63.2182 68.6048 63.4989C68.6048 63.7795 68.4823 64.0487 68.2642 64.2472C68.0461 64.4457 67.7504 64.5572 67.442 64.5572Z' fill='black'/%3E%3Cpath d='M36.0466 22.2246H38.3722V26.4579H36.0466V22.2246ZM44.1861 23.2829C44.8761 23.2829 45.5505 23.0967 46.1242 22.7478C46.6978 22.399 47.145 21.9031 47.409 21.323C47.673 20.7428 47.7421 20.1045 47.6075 19.4886C47.4729 18.8727 47.1407 18.307 46.6528 17.8629C46.1649 17.4189 45.5434 17.1165 44.8667 16.994C44.19 16.8715 43.4886 16.9344 42.8512 17.1747C42.2138 17.415 41.669 17.822 41.2857 18.3441C40.9024 18.8662 40.6978 19.48 40.6978 20.108C40.6987 20.9498 41.0665 21.7568 41.7205 22.3521C42.3745 22.9473 43.2612 23.2821 44.1861 23.2829ZM44.1861 19.0497C44.4161 19.0497 44.6409 19.1117 44.8322 19.228C45.0234 19.3443 45.1724 19.5096 45.2604 19.703C45.3484 19.8964 45.3715 20.1091 45.3266 20.3144C45.2817 20.5197 45.171 20.7083 45.0084 20.8563C44.8457 21.0043 44.6385 21.1051 44.413 21.146C44.1874 21.1868 43.9536 21.1658 43.7412 21.0857C43.5287 21.0056 43.3471 20.87 43.2193 20.6959C43.0915 20.5219 43.0233 20.3173 43.0233 20.108C43.0237 19.8274 43.1463 19.5584 43.3643 19.3599C43.5823 19.1615 43.8778 19.0499 44.1861 19.0497ZM33.721 20.108C33.721 19.48 33.5164 18.8662 33.1331 18.3441C32.7498 17.822 32.205 17.415 31.5676 17.1747C30.9301 16.9344 30.2288 16.8715 29.5521 16.994C28.8754 17.1165 28.2538 17.4189 27.766 17.8629C27.2781 18.307 26.9459 18.8727 26.8113 19.4886C26.6767 20.1045 26.7458 20.7428 27.0098 21.323C27.2738 21.9031 27.7209 22.399 28.2946 22.7478C28.8682 23.0967 29.5427 23.2829 30.2326 23.2829C31.1575 23.2821 32.0443 22.9473 32.6983 22.3521C33.3523 21.7568 33.7201 20.9498 33.721 20.108ZM29.0698 20.108C29.0698 19.8987 29.138 19.694 29.2658 19.52C29.3936 19.346 29.5752 19.2103 29.7876 19.1302C30.0001 19.0501 30.2339 19.0292 30.4595 19.07C30.685 19.1108 30.8922 19.2116 31.0548 19.3596C31.2175 19.5076 31.3282 19.6962 31.3731 19.9015C31.4179 20.1068 31.3949 20.3196 31.3069 20.513C31.2189 20.7064 31.0699 20.8716 30.8786 20.9879C30.6874 21.1042 30.4626 21.1663 30.2326 21.1663C29.9243 21.166 29.6287 21.0544 29.4107 20.856C29.1927 20.6576 29.0701 20.3886 29.0698 20.108ZM46.5117 52.9157H52.3257V55.0323H46.5117V52.9157ZM18.6047 56.0907H40.6978V58.2073H18.6047V56.0907Z' fill='black'/%3E%3C/svg%3E%0A");
        }
    }


    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1 1 56%;
        text-align: center;
        font-family: Arial;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 31px;

        &__sign {
            display: none;
        }

        &__list {
            flex: 0 1 59%;
            display: flex;
            justify-content: space-between;
            max-width: 1000px;
        }

        &__reg {
            border-radius: 10px;
            background: $yellow;
            padding: 12px 42px;
            color: #191919;
            line-height: 29px;
            text-align: center;
            font-family: Arial;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 31px;
        }
    }

}


.preview {
    margin-bottom: 90px;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .left-side {
            padding-top: 55px;
            padding-left: 5px;

            &__title {
                color: #FFF;
                text-align: left;
                font-family: Arial;
                font-size: 65px;
                font-style: normal;
                font-weight: 700;
                line-height: 70px;
                letter-spacing: -3px;
                margin-bottom: 56px;
                text-wrap: nowrap;

                &::after {
                    content: "";
                    background-image: url(../img/publ.png);
                    background-repeat: no-repeat;
                    width: 150px;
                    display: inline-block;
                    height: 82px;
                    margin-bottom: -37px;
                    margin-left: 22px;
                }
            }

            &__text {
                color: #FFF;
                max-width: 395px;
                text-align: center;
                font-family: Arial;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 27.9px;
                display: flex;
                flex-wrap: wrap;
                letter-spacing: 0.5px;

                span {
                    flex: 1 1 auto;
                    display: inline-block;
                    border-radius: 30px;
                    background: $blue;
                    padding: 13px 12px 12px 10px;
                    margin: 5px 5px 5px 0px
                }
            }
        }

        .right-side {
            height: 512px;
            position: relative;
            display: flex;
            align-items: flex-end;

            &__img {
                position: absolute;
                right: 48px;
                top: 46px;
                z-index: -5;
                -webkit-filter: drop-shadow(5px 5px 5px #4415FF);
                filter: drop-shadow(4px 18px 60px #4415FF)
            }

            &__text {
                color: #FFF;
                font-family: Arial;
                font-size: 33px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
                /* 90.909% */
                letter-spacing: -0.825px;
                max-width: 372px;
            }
        }

        .bottom-side {
            margin-top: 162px;
            margin-left: 5px;
            border-radius: 40px;
            margin-right: 57px;
            padding: 45px 40px 30px 52px;
            color: white;

            &__content {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: stretch;
                width: 100%;
                height: 100%;
                padding-bottom: 70px;
                justify-content: space-between;
            }

            &__item {
                flex: 1 1 50%;
                max-width: 52%;
                padding: 24px 34px 0px 0px;

                &:nth-of-type() {}

                p {
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 34.5px;

                }

                img {
                    margin-left: -15px;
                }
            }

            &__title {
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 48px;
                max-width: 50%;
                /* 100% */
                letter-spacing: -1.5px;
            }
        }
    }

    &__left-side {
        flex: 1 1 38%;
    }

    &__right-side {
        flex: 1 1 50%;
    }

    &__bottom-side {
        width: 100%;
        background-color: $blue;
        height: 579px;
    }
}

.for-what {
    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
        margin-bottom: 146px;

        hr {
            height: 1px;
            width: 1205px;
            margin-right: 59px;
            margin-bottom: 36px;
            background-color: #979797;
        }
    }

    &__footnote {
        margin-bottom: 40px;
        margin-left: -50px;
    }

    &__title {
        display: flex;
        // height: 140px;
        max-width: 750px;
        margin-bottom: 27px;
        text-align: center;
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        max-height: 728px;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding-right: 67px;
        align-items: center;
        padding-left: 8px;
        margin-bottom: 56px;
    }

    &__item {
        margin-bottom: 10px;
    }

    .item {
        width: 49.4%;
        border-radius: 35px;
        background: #8836AE;
        padding: 10px 7px 50px 63px;
        align-items: center;
        height: 359px;

        &:nth-child(even) {
            padding-left: 40px;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__title {
            max-width: 300px;
            float: left;
            color: #FFF;
            text-align: left;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 35px;
            min-height: 147px;
            padding-top: 25px;
        }

        &__img {
            margin-top: 5px;
            margin-right: 5px;
        }

        &__body {
            p {
                color: white;
                margin-right: 22.5%;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 27px;
                /* 168.75% */
                letter-spacing: 0.5px;
            }
        }
    }

    &__btn {
        color: black;
        background-color: $yellow;
        padding: 23px 102px;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 31px;
        /* 155% */
        margin-right: 50px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-radius: 100px;
    }

}

.participant {
    margin-bottom: 70px;

    &__content {
        position: relative;
        padding-top: 35px;
        display: flex;
        flex-direction: column;
    }

    &__footnote {
        position: absolute;
        top: 37px;
        left: 73px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        padding: 15px 26px;
        border-radius: 50px;
    }

    &__title {
        max-width: 700px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 47px;
    }


    &__body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 350px;
        width: 100%;
    }

    &_item {

        max-width: 596px;
        max-height: 174px;
        width: 100%;
        height: 100%;
        margin-right: 70px;

        &:nth-child(even) {
            p {
                padding-top: 25px;
            }
        }

        img {
            margin-left: 12px;
        }

        p {
            color: white;
            font-family: Arial;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px;
            letter-spacing: 0.5px;
            padding-top: 5px;
        }



        #yellow-text {
            color: $yellow;
            max-width: 430px;
        }

    }



    .dialog {
        display: flex;
        flex-direction: column;

        max-width: 1060px;
        width: 100%;
        margin: 0 auto;


        &__item:nth-child(1) {
            align-self: flex-start;
            background: url(../img/Vector.png) no-repeat;
        }


        &__item:nth-child(2) {
            align-self: center;
            margin-left: -125px;
            background: url(../img/vector2.png) no-repeat;
        }

        &__item:nth-child(3) {
            align-self: flex-end;
        }

        &__item {
            background: url(../img/vector3.png) no-repeat;
            align-self: flex-start;

            p {
                background-size: contain;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 27.9px;
                letter-spacing: 0.5px;
                color: wheat;

                padding: 15px 70px 15px 42px;
                display: inline-block;
            }


        }
    }

    &__dialog {
        margin-bottom: 100px;
    }

    &__btn {
        text-wrap: nowrap;
        color: #191919;
        border-radius: 100px;
        background: #F7BA4B;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto;
        margin-top: 46px;
        padding: 24px 355px;
        display: inline-block;
    }



}

.new {
    margin-bottom: 100px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        hr {
            width: 100%;
            max-width: 1205px;
            height: 1px;
            margin-bottom: 38px;
            background-color: #979797;
        }
    }

    &__footnote {
        padding: 14px 28px;
        margin-bottom: 55px;
    }

    &__title {
        margin-left: 36px;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        max-width: 1100px;
        text-align: center;
        margin-left: 47px;
        margin-bottom: 42px;
        color: white;

        span {
            color: $yellow;
        }
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1009px;

    }

    &__item {
        width: 480px;
        background-size: 100%;
        height: 333px;
        border-radius: 15px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__item:nth-child(1) {
        background-image: url(../img/new1.png);

    }

    &__item:nth-child(2) {
        background-image: url(../img/new2.png);
    }

    &__item:nth-child(3) {
        background-image: url(../img/new3.png);
        margin: 0 auto;
        margin-top: 30px;
    }

    .cubok__blue {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 523px;
        height: 523px;
        background: url(../img/blur_4.svg.png) no-repeat;
        bottom: -113px;
        left: -72px;
        z-index: -5;
        background-position: left bottom;
    }
}

.organizers {
    margin-bottom: 50px;

    .container {
        padding-left: 20px;
    }

    &__footnote {
        margin-bottom: 55px;
        padding: 15px 30px;
        margin-left: 59px;
        border-radius: 50px;
    }

    &__content {

        display: flex;
        align-items: center;
        flex-direction: column;

        hr {
            height: 1px;
            width: 100%;

            max-width: 1160px;
            margin-bottom: 9px;
            background-color: #979797;
        }
    }



    &__title {
        text-align: center;
        margin-bottom: 44px;
        margin-left: 59px;
    }

    &__body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .container__img {
        background: url(../img/blur_4.svg.png) no-repeat;
        background-position: center right;
        width: 702.994px;
        height: 664.938px;
        flex: 0 0 54%;

        .organizers_img {
            width: 702.994px;
            height: 664.938px;
        }
    }

    &__desc {
        flex: 0 0 47%;
        padding-top: 73px;
        margin-left: -22px;
    }

    &_text {
        span {
            color: #FDC949;
        }

        max-width: 538px;
        color: #E1E1E1;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0.5px;
        margin-bottom: 13px;
    }

    &__info {}

    .info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        max-width: 1160px;
        margin: 0 auto;
        margin-top: -236px;
        margin-left: 121px;

    }

    .info__item {
        border-radius: 35px;
        background: #1573FF;
        max-width: 380px;
        width: 100%;
        margin-right: 5px;
        height: 220px;
        flex-shrink: 0;
        color: white;
        padding-left: 40px;
        padding-top: 40px;

        span {
            display: flex;
            margin-bottom: 23px;
            font-size: 72px;
            font-style: normal;
            font-weight: 700;
            line-height: 65px;
            letter-spacing: -3px;
            justify-content: space-between;

            &::after {
                content: url(../img/star.png);
                margin-right: 33px;
                margin-top: -16px;
            }
        }

        p {
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
        }
    }
}


.partner {
    margin-bottom: 160px;

    &__content {
        position: relative;
        padding: 10px 64px 1px 56px;
    }

    &__footnote {
        position: absolute;
        padding: 15px 30px 15px 30px;
        padding-bottom: 15px;
        border-radius: 50px;
        top: 50px;
        left: 63px;
    }

    &__title {
        font-size: 147px;
        font-style: normal;
        font-weight: 400;
        line-height: 110px;
        letter-spacing: -6.5px;
        padding-top: 7px;
        margin-bottom: 87px;

        &:nth-of-type(1) {
            text-align: right;
            padding-top: 0px;
            margin-bottom: 0px;
        }
    }

    &__body {}

    .body {
        display: flex;
        justify-content: space-between;
        padding-left: 2px;
        margin-bottom: 67px;

        &__item {
            margin: 5px;
            background-color: white;
            border-radius: 25px;
            border: 1px solid #CCC;
            background-repeat: no-repeat;
            background-position: center;
            width: 229px;
            height: 135px;
            flex-shrink: 0;
        }

        &__item:nth-of-type(1) {
            background-image: url(../img/partner1.png);
        }

        &__item:nth-of-type(2) {
            background-image: url(../img/partner2.png);
        }

        &__item:nth-of-type(3) {
            background-image: url(../img/partner3.png);
        }

        &__item:nth-of-type(4) {
            background-image: url(../img/partner4.png);
        }

        &__item:nth-of-type(5) {
            background-image: url(../img/partner5.png);
        }
    }



    &__feedback {
        padding: 32px 0px 32px 54px;
        background-color: $purple;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 145%;
        letter-spacing: 0.5px;
        border-radius: 25px;
        position: relative;

        img {
            position: absolute;
            top: -80px;
            right: 31px;
        }

        p {
            span {
                color: #FF8562;
            }
        }
    }
}

.application {
    margin-bottom: 400px;

    &__content {
        border-radius: 0px 0px 35px 35px;
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        border-radius: 14px;
    }

    &__footnote {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 90px;
        margin-top: 31px;
    }

    &__form {
        border-radius: 14px;
        background: #8836AE;
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    &__title {
        border-radius: 14px;
        background: #1573FF;
        font-family: Arial;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        /* 112.5% */
        letter-spacing: -1.5px;
        color: white;
        padding: 38px 0px 40px 0px;
        text-align: center;
        margin-bottom: 36px;
    }

    &__input {
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 58px;
        /* 207.143% */
        letter-spacing: -1.5px;
        color: #191919;
        background-color: $yellow;
        max-width: 461px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 25px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
        border-radius: 20px;
        padding: 1px 5px 0px 16px;

        &::placeholder {
            color: #191919;
        }
    }

    #policy-b {
        display: flex;
        align-items: center;
        max-width: 461px;
        justify-content: center;
        margin: 0 auto;
        margin-top: 17px;
        margin-bottom: 50px;
    }

    &__check {
        width: 25px;
        height: 25px;
        display: inline-block;
    }

    &__label {
        margin-left: 15px;
        color: white;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        /* 150% */
        letter-spacing: -1.5px;
        max-width: 400px;
        display: inline-block;

        span {
            color: #05F800;
        }
    }

    &__btn {
        margin: 0 auto;
        padding: 5px 65px;
        background: #1573FF;
        border-radius: 40px;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 58px;
        border: 1px solid #F7BA4B;
        letter-spacing: -1.5px;
        margin-bottom: 70px;
        box-shadow: 1px 5px 5px #0000003b;
    }
}

.pre-footer {
    padding-bottom: 62px;

    .container {
        padding-left: 55px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;

    }

    &__network {
        flex: 1 1 44%;
        height: 554px;
        ;

    }

    &__icon {

        font-family: Arial;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 79px;
        display: flex;
        color: #FFF;
        margin-bottom: 67px;

        &::before {
            display: block;
            width: 75px;
            height: 68px;
            margin-right: 14px;
            content: "";
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='75' height='68' viewBox='0 0 75 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5954 49.7408C13.917 49.7406 12.3058 50.3409 11.1094 51.4122C9.91294 52.4835 9.22718 53.9399 9.20002 55.4673C9.18629 56.2396 9.34157 57.0066 9.65681 57.7237C9.97205 58.4409 10.441 59.0937 11.0362 59.6442C11.6314 60.1947 12.3411 60.6319 13.1238 60.9303C13.9066 61.2287 14.7467 61.3823 15.5954 61.3822C15.5954 61.3822 67.442 61.3685 67.442 61.3526V49.7704C67.442 49.7535 15.5954 49.7408 15.5954 49.7408Z' fill='white'/%3E%3Cpath d='M37.2094 45.5075C47.4845 45.5075 55.8141 39.8216 55.8141 32.8077C55.8141 25.7939 47.4845 20.108 37.2094 20.108C26.9343 20.108 18.6047 25.7939 18.6047 32.8077C18.6047 39.8216 26.9343 45.5075 37.2094 45.5075Z' fill='%239A5706'/%3E%3Cpath d='M36.9477 6.352C33.238 6.4857 29.732 7.9312 27.1751 10.3811C24.6181 12.831 23.2121 16.0921 23.2559 19.4709V24.3412C24.6535 24.9772 25.8289 25.9549 26.6504 27.1646C27.4719 28.3744 27.907 29.7685 27.907 31.1906V36.751C27.8759 38.9361 28.7536 41.0511 30.3641 42.6718C31.9747 44.2925 34.1989 45.299 36.5908 45.4895C37.8617 45.5666 39.1365 45.4053 40.3362 45.0156C41.5359 44.6259 42.6348 44.0162 43.565 43.2241C44.4951 42.432 45.2366 41.4745 45.7435 40.4109C46.2503 39.3473 46.5118 38.2003 46.5117 37.041V31.1906C46.5117 29.7685 46.9469 28.3744 47.7684 27.1646C48.5899 25.9549 49.7653 24.9772 51.1629 24.3412V19.0497C51.1629 17.3618 50.7933 15.691 50.0756 14.1347C49.3579 12.5784 48.3066 11.1679 46.9831 9.98569C45.6596 8.80347 44.0904 7.87321 42.3674 7.24931C40.6443 6.6254 38.8019 6.32036 36.9477 6.352Z' fill='%23C68C47'/%3E%3Cpath d='M48.3885 12.2775C46.2688 12.2869 44.1756 12.7069 42.2481 13.5096C40.3206 14.3123 38.603 15.4793 37.2094 16.933C37.2094 16.933 37.7047 7.4082 45.2059 7.4082C52.6315 7.4082 55.8141 4.23326 55.8141 4.23326C55.8141 4.23326 55.8141 12.2775 48.3885 12.2775ZM26.0303 12.2775C28.15 12.2869 30.2431 12.7069 32.1706 13.5096C34.0982 14.3123 35.8158 15.4793 37.2094 16.933C37.2094 16.933 36.714 7.4082 29.2129 7.4082C21.7873 7.4082 18.6047 4.23326 18.6047 4.23326C18.6047 4.23326 18.6047 12.2775 26.0303 12.2775Z' fill='%239A5706'/%3E%3Cpath d='M44.1861 22.2246C43.7262 22.2246 43.2765 22.1005 42.8941 21.8679C42.5117 21.6353 42.2136 21.3047 42.0376 20.918C41.8616 20.5312 41.8155 20.1056 41.9052 19.695C41.995 19.2845 42.2165 18.9073 42.5417 18.6113C42.8669 18.3153 43.2813 18.1137 43.7324 18.032C44.1836 17.9503 44.6511 17.9923 45.0761 18.1525C45.501 18.3127 45.8643 18.584 46.1198 18.932C46.3753 19.2801 46.5117 19.6893 46.5117 20.108C46.5111 20.6692 46.2659 21.2072 45.8299 21.604C45.3939 22.0009 44.8027 22.224 44.1861 22.2246ZM30.2326 22.2246C29.7727 22.2246 29.323 22.1005 28.9406 21.8679C28.5581 21.6353 28.2601 21.3047 28.0841 20.918C27.908 20.5312 27.862 20.1056 27.9517 19.695C28.0414 19.2845 28.2629 18.9073 28.5882 18.6113C28.9134 18.3153 29.3278 18.1137 29.7789 18.032C30.23 17.9503 30.6976 17.9923 31.1226 18.1525C31.5475 18.3127 31.9107 18.584 32.1663 18.932C32.4218 19.2801 32.5582 19.6893 32.5582 20.108C32.5576 20.6692 32.3124 21.2072 31.8764 21.604C31.4404 22.0009 30.8492 22.224 30.2326 22.2246Z' fill='white'/%3E%3Cpath d='M9.09653 55.5615C9.09653 54.0177 9.77032 52.5372 10.9697 51.4456C12.169 50.354 13.7957 49.7408 15.4919 49.7408H67.442C68.0588 49.7408 68.6503 49.5178 69.0864 49.1208C69.5226 48.7239 69.7676 48.1855 69.7676 47.6241C69.7676 47.0628 69.5226 46.5244 69.0864 46.1275C68.6503 45.7305 68.0588 45.5075 67.442 45.5075H15.6977C12.768 45.5075 9.95825 46.5668 7.88662 48.4523C5.815 50.3377 4.65117 52.895 4.65117 55.5615C4.65117 58.228 5.815 60.7853 7.88662 62.6707C9.95825 64.5562 12.768 65.6155 15.6977 65.6155H67.442C68.0588 65.6155 68.6503 65.3925 69.0864 64.9955C69.5226 64.5986 69.7676 64.0602 69.7676 63.4989C69.7676 62.9375 69.5226 62.3991 69.0864 62.0022C68.6503 61.6052 68.0588 61.3822 67.442 61.3822H15.4919C13.7957 61.3822 12.169 60.769 10.9697 59.6774C9.77032 58.5858 9.09653 57.1053 9.09653 55.5615Z' fill='%23DB3A3A'/%3E%3Cpath d='M68.6048 60.5186V50.6044C69.38 50.3558 70.0336 49.8656 70.4497 49.2206C70.8659 48.5755 71.0178 47.8172 70.8785 47.08C70.7392 46.3428 70.3178 45.6742 69.6888 45.1927C69.0598 44.7112 68.2639 44.4478 67.442 44.4492H47.6768C53.2675 42.0098 56.9769 37.694 56.9769 32.8077C56.9294 31.1197 56.4906 29.4597 55.689 27.9368C54.8874 26.4139 53.7413 25.0624 52.3257 23.9708V19.0497C52.3225 16.9692 51.7975 14.9168 50.7908 13.049C55.6152 11.8277 56.9769 6.97112 56.9769 4.23326L56.971 1.56631L54.9606 3.5136C54.8408 3.63002 51.9571 6.34989 45.2059 6.34989C44.6118 6.3554 44.0201 6.42106 43.4419 6.54567C41.401 5.68867 39.1742 5.26076 36.9268 5.29369C34.8894 5.33406 32.8844 5.76575 31.0431 6.56049C30.444 6.42622 29.8298 6.35555 29.2128 6.34989C22.4617 6.34989 19.5779 3.63002 19.464 3.51995L17.4419 1.50281V4.23326C17.4419 6.99546 18.8245 11.9124 23.7466 13.0808C22.6613 15.0662 22.0954 17.2533 22.0931 19.4709V23.9719C20.6776 25.0633 19.5315 26.4147 18.73 27.9374C17.9284 29.4601 17.4895 31.1198 17.4419 32.8077C17.4419 37.6961 21.1535 42.0119 26.7501 44.4492H15.6977C12.4596 44.4492 9.3541 45.62 7.06441 47.7039C4.77472 49.7879 3.48838 52.6143 3.48838 55.5615C3.48838 58.5087 4.77472 61.3351 7.06441 63.4191C9.3541 65.503 12.4596 66.6738 15.6977 66.6738H67.442C68.2639 66.6752 69.0598 66.4118 69.6888 65.9303C70.3178 65.4488 70.7392 64.7802 70.8785 64.043C71.0178 63.3058 70.8659 62.5475 70.4497 61.9024C70.0336 61.2574 69.38 60.7672 68.6048 60.5186ZM66.2792 56.0907H55.8141V58.2073H66.2792V60.3239H15.4919C14.1041 60.3239 12.7732 59.8222 11.7919 58.929C10.8106 58.0359 10.2593 56.8246 10.2593 55.5615C10.2593 54.2984 10.8106 53.0871 11.7919 52.194C12.7732 51.3008 14.1041 50.7991 15.4919 50.7991H66.2792V56.0907ZM24.4187 23.7147V19.4709C24.4207 17.3195 25.0438 15.2064 26.2256 13.3432C28.1334 13.3852 30.0113 13.7834 31.7431 14.513C33.4749 15.2427 35.0235 16.2882 36.2931 17.5849L37.2094 18.6538L38.1257 17.5849C39.4025 16.269 40.9683 15.2112 42.7219 14.4799C44.4756 13.7485 46.3782 13.3599 48.3071 13.339C49.4061 15.0767 49.9896 17.0447 50.0001 19.0497V23.7147C48.5775 24.4851 47.4003 25.5799 46.5846 26.891C45.7689 28.202 45.343 29.684 45.3489 31.1906V37.041C45.3489 38.0556 45.1198 39.0594 44.6761 39.9901C44.2323 40.9208 43.5832 41.7587 42.7691 42.4518C41.9549 43.1448 40.9931 43.6783 39.9431 44.0192C38.8932 44.36 37.7775 44.501 36.6652 44.4333C34.5659 44.2656 32.6146 43.3795 31.205 41.9538C29.7953 40.528 29.0323 38.6687 29.0698 36.751V31.1906C29.0757 29.684 28.6498 28.202 27.8342 26.891C27.0185 25.5799 25.8412 24.4851 24.4187 23.7147ZM54.6513 32.8077C54.6513 37.2548 50.8547 41.1504 45.2687 43.1009C46.8172 41.3953 47.6675 39.2535 47.6745 37.041V31.1906C47.6714 30.0978 47.9687 29.0215 48.5394 28.0599C49.1101 27.0984 49.936 26.282 50.942 25.6853C52.0661 26.5758 52.9759 27.6681 53.6142 28.8938C54.2525 30.1195 54.6056 31.452 54.6513 32.8077ZM54.3141 6.52557C53.7582 8.56388 52.2861 11.2192 48.3885 11.2192C44.9802 11.218 41.6619 12.2143 38.9233 14.0608C39.6605 11.5843 41.3559 8.46652 45.2059 8.46652C48.3745 8.54037 51.5108 7.87202 54.3141 6.52557ZM36.9698 7.41032C38.1464 7.39131 39.3198 7.5253 40.4547 7.80824C38.9729 8.91329 37.8507 10.3657 37.2094 12.0087C36.5699 10.3705 35.4529 8.92146 33.978 7.81671C34.9525 7.56711 35.9577 7.43057 36.9698 7.41032ZM20.114 6.53086C22.9152 7.87361 26.0479 8.54006 29.2128 8.46652C33.0629 8.46652 34.7582 11.5854 35.4954 14.0608C32.7568 12.2143 29.4385 11.218 26.0303 11.2192C22.1559 11.2192 20.6779 8.56917 20.114 6.53086ZM19.7675 32.8077C19.8132 31.452 20.1662 30.1195 20.8046 28.8938C21.4429 27.6681 22.3527 26.5758 23.4768 25.6853C24.4828 26.282 25.3087 27.0984 25.8794 28.0599C26.4501 29.0215 26.7474 30.0978 26.7442 31.1906V36.751C26.7413 39.0761 27.6314 41.329 29.2605 43.12C23.6163 41.1864 19.7675 37.2823 19.7675 32.8077ZM67.442 64.5572H15.6977C13.0764 64.5572 10.5624 63.6094 8.70885 61.9224C6.85529 60.2354 5.81397 57.9473 5.81397 55.5615C5.81397 53.1757 6.85529 50.8876 8.70885 49.2006C10.5624 47.5136 13.0764 46.5658 15.6977 46.5658H67.442C67.7504 46.5658 68.0461 46.6773 68.2642 46.8758C68.4823 47.0743 68.6048 47.3435 68.6048 47.6241C68.6048 47.9048 68.4823 48.174 68.2642 48.3725C68.0461 48.571 67.7504 48.6825 67.442 48.6825H15.4919C13.4873 48.6825 11.5649 49.4072 10.1475 50.6973C8.73004 51.9874 7.93374 53.7371 7.93374 55.5615C7.93374 57.3859 8.73004 59.1356 10.1475 60.4257C11.5649 61.7158 13.4873 62.4405 15.4919 62.4405H67.442C67.7504 62.4405 68.0461 62.552 68.2642 62.7505C68.4823 62.949 68.6048 63.2182 68.6048 63.4989C68.6048 63.7795 68.4823 64.0487 68.2642 64.2472C68.0461 64.4457 67.7504 64.5572 67.442 64.5572Z' fill='black'/%3E%3Cpath d='M36.0466 22.2246H38.3722V26.4579H36.0466V22.2246ZM44.1861 23.2829C44.8761 23.2829 45.5505 23.0967 46.1242 22.7478C46.6978 22.399 47.145 21.9031 47.409 21.323C47.673 20.7428 47.7421 20.1045 47.6075 19.4886C47.4729 18.8727 47.1407 18.307 46.6528 17.8629C46.1649 17.4189 45.5434 17.1165 44.8667 16.994C44.19 16.8715 43.4886 16.9344 42.8512 17.1747C42.2138 17.415 41.669 17.822 41.2857 18.3441C40.9024 18.8662 40.6978 19.48 40.6978 20.108C40.6987 20.9498 41.0665 21.7568 41.7205 22.3521C42.3745 22.9473 43.2612 23.2821 44.1861 23.2829ZM44.1861 19.0497C44.4161 19.0497 44.6409 19.1117 44.8322 19.228C45.0234 19.3443 45.1724 19.5096 45.2604 19.703C45.3484 19.8964 45.3715 20.1091 45.3266 20.3144C45.2817 20.5197 45.171 20.7083 45.0084 20.8563C44.8457 21.0043 44.6385 21.1051 44.413 21.146C44.1874 21.1868 43.9536 21.1658 43.7412 21.0857C43.5287 21.0056 43.3471 20.87 43.2193 20.6959C43.0915 20.5219 43.0233 20.3173 43.0233 20.108C43.0237 19.8274 43.1463 19.5584 43.3643 19.3599C43.5823 19.1615 43.8778 19.0499 44.1861 19.0497ZM33.721 20.108C33.721 19.48 33.5164 18.8662 33.1331 18.3441C32.7498 17.822 32.205 17.415 31.5676 17.1747C30.9301 16.9344 30.2288 16.8715 29.5521 16.994C28.8754 17.1165 28.2538 17.4189 27.766 17.8629C27.2781 18.307 26.9459 18.8727 26.8113 19.4886C26.6767 20.1045 26.7458 20.7428 27.0098 21.323C27.2738 21.9031 27.7209 22.399 28.2946 22.7478C28.8682 23.0967 29.5427 23.2829 30.2326 23.2829C31.1575 23.2821 32.0443 22.9473 32.6983 22.3521C33.3523 21.7568 33.7201 20.9498 33.721 20.108ZM29.0698 20.108C29.0698 19.8987 29.138 19.694 29.2658 19.52C29.3936 19.346 29.5752 19.2103 29.7876 19.1302C30.0001 19.0501 30.2339 19.0292 30.4595 19.07C30.685 19.1108 30.8922 19.2116 31.0548 19.3596C31.2175 19.5076 31.3282 19.6962 31.3731 19.9015C31.4179 20.1068 31.3949 20.3196 31.3069 20.513C31.2189 20.7064 31.0699 20.8716 30.8786 20.9879C30.6874 21.1042 30.4626 21.1663 30.2326 21.1663C29.9243 21.166 29.6287 21.0544 29.4107 20.856C29.1927 20.6576 29.0701 20.3886 29.0698 20.108ZM46.5117 52.9157H52.3257V55.0323H46.5117V52.9157ZM18.6047 56.0907H40.6978V58.2073H18.6047V56.0907Z' fill='black'/%3E%3C/svg%3E%0A");
        }
    }

    &__pictures {
        padding-top: 117px;
        flex: 1 1 auto;
        height: 554px;
    }

    &__contacts {

        color: #FFF;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        /* 90% */
        margin-left: 5px;
        letter-spacing: -1.5px;
        margin-bottom: 83px;

        &:nth-of-type(2) {
            font-size: 54px;
            margin-bottom: 68px;
        }
    }

    &_sot-net {}



}

.footer {
    background: rgba(18, 1, 39, 0.60);
    // height: 124px;

    &__content {
        color: white;
        padding-top: 26px;

        h4 {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            text-align: center;
            margin-bottom: 9px;

        }

        hr {
            width: 100%;
            height: 1px;
            background-color: white;
            margin-bottom: 20px;
        }

        div {
            display: flex;
            justify-content: space-evenly;
            text-align: center;

            span: {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;

            }
        }
    }
}


@media (max-width: 1400px) {

    .preview {
        &__content {
            .bottom-side {
                height: 100%;
                margin-right: 0px;

                &__content {
                    flex-wrap: nowrap;
                }

                &__item {
                    max-width: none;
                }

                &__title {
                    max-width: none;
                }
            }
        }
    }


    .for-what {
        &__body {
            padding-right: 5px;
        }

        &__content hr {
            margin-right: 0;
            width: 100%;
            max-width: 1205px;
        }

        &__btn {
            margin-right: 0;
        }
    }

    .participant {
        &__content {
            padding-left: 40px;
        }

        &_item {
            max-width: 540px;

            p {
                font-size: 28px;
            }
        }
    }

    .organizers {
        .info {
            margin-left: 40px;
            flex-wrap: wrap;
            justify-content: center;

        }

        .info__item {
            width: 350px;
            margin: 5px;
        }
    }

    .partner {
        .body {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}

@media(max-width:1280px) {

    .header {
        .menu {
            &__reg {
                display: none;
            }

            &__list {
                flex: 1 1 59%;
                margin-right: 40px;
            }

            &__sign {
                display: block;
                background-color: $yellow;
                width: 70px;
                height: 70px;
                border-radius: 5px;
            }
        }
    }

    .preview {
        &__content {
            position: relative;

            .right-side {
                position: absolute;
                height: 550px;
                right: 48px;
                // width: 279px;
                top: 46px;

                p {
                    max-width: none;
                }
            }
        }
    }

    .for-what {
        .item__title {
            font-size: 28px;
        }

        .item__body {
            P {
                margin-right: 0px;
            }
        }
    }

    .participant {
        &__body {
            flex-wrap: nowrap;
            height: 100%;
            margin-bottom: 50px;
        }

        &_item {
            img {
                margin: 0 auto;
            }

            max-width: none;

            #yellow-text {
                max-width: none;
            }
        }

        &__btn {
            padding: 24px 10px;
            width: 100%;
            max-width: 100%;
        }
    }

    .new {
        &__item {
            width: 400px;
        }
    }

    .partner {
        &__title {
            font-size: 101px;
        }

        &__feedback {
            img {
                right: 0;
            }
        }
    }

}

@media(max-width:990px) {

    .header {
        &__icon {
            font-size: 0;
            width: 0;
        }

        .menu {
            flex: 0 0 0;

            &__list {
                display: none;
            }
        }
    }


    .preview {
        &__content {
            .left-side {
                &__text {
                    max-width: none;
                }

                span:nth-of-type(3) {
                    flex: 1 1 100%;
                }
            }

            .right-side {
                height: none;

                &__text {
                    font-size: 22px;
                }

                &__img {
                    width: 100px;
                    right: 0;
                    top: 30px
                }
            }

        }
    }

    .new {
        &__body {
            flex-direction: column;
        }

        &__item {
            width: 450px;
            margin-bottom: 2px;
        }

        &__item:nth-child(3) {
            margin: 0px
        }
    }

    .participant {
        .dialog__item:nth-child(2) {

            margin-left: 0px;
        }

        &__footnote {
            position: static;
            margin: 0 auto;
        }

        &_item {
            img {
                margin: 0 auto;
                width: 100%;
            }

            &__footnote {
                position: static;
                margin: 0 auto;
            }


        }
    }

    .organizers {
        &__body {
            .container__img {
                display: none;
            }
        }

        &__desc {
            margin-left: 5px;
            flex: 1 1 100%;

        }

        .info {
            margin-top: 5px;
        }

        &_text {
            max-width: none;
        }

        &__info {
            margin-top: 1px;
        }
    }

    .for-what {
        &__body {
            display: flex;
            flex-direction: column;
            max-height: none;
        }

        &__footnote {
            margin-left: 0;
        }

        .item {
            width: 100%;
            padding: 10px 10px 10px 30px;
            height: 100%;

            &_header {
                padding: auto;
            }

            &__img {
                width: 88px;
            }

            &:nth-child(even) {
                padding: 10px 10px 10px 30px;
            }
        }
    }

    .partner {
        &__content {

            padding: 0;

        }

        &__footnote {
            position: static;
            margin: 0 auto;
            width: 161px;
            text-align: center;
            padding: 15px 30px 15px 30px;
            padding-bottom: 15px;
            border-radius: 50px;
            display: block;
        }

        &__feedback {
            padding: 32px 5px 27px 10px;

            img {
                display: none
            }
        }

        &__title {


            &:nth-of-type(2) {
                display: none;
            }

            &:nth-of-type(1) {
                text-align: center;
            }
        }
    }

    .pre-footer {
        &__pictures {
            flex: 1 0 0%;
            padding-top: 0px;
            height: 100%;
        }

        &__network {
            height: 100%;
        }

        &__contacts {
            font-size: 20px;
            margin-bottom: 10px;

            &:nth-of-type(2) {
                font-size: 24px;
                margin-bottom: 10px;
            }
        }
    }
}

@media(max-width:770px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .preview {
        &__content {
            .left-side {
                &__title {
                    font-size: 40px;
                    line-height: 110%;
                }
            }

            .right-side {
                height: 440px;

                &__text {

                    text-align: center;
                    margin-left: 50px;
                }
            }

            .bottom-side {
                &__title {
                    font-size: 34px;
                    line-height: 110%;
                }
            }
        }



    }

    .for-what {
        &__btn {
            text-align: center;
        }
    }

    .participant {
        &__content {
            padding-left: 0px;
        }

        .dialog {
            display: none;
        }
    }

    .new {
        &__title {
            margin-left: 0px;
        }

        &__text {
            margin-left: 0px;
        }
    }

    .organizers {
        .container {
            padding-left: 40px;
        }

        &__title {
            margin-left: 0px;
        }
    }
}

@media(max-width:570px) {

    .title {
        font-size: 30px;
        line-height: 110%;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .preview {
        .left-side {
            padding-top: 0px;

            &__title {
                font-size: 38px;
            }
        }

        .right-side {
            display: none;
        }

        .bottom-side {

            padding: 30px 12px 30px 16px;

            &__item {
                img {
                    margin-left: 0px;
                }

            }
        }
    }

    .for-what {
        margin-bottom: 30px;

        &__content {
            margin-bottom: 0px;
        }

        &__btn {

            padding: 10px 0px;
        }
    }

    .participant {
        &__body {
            margin-bottom: 0px;
        }

        &_item {
            max-height: none;

        }
    }

    .new {
        &__item {
            width: 250px;
            height: 200px;
        }

        .cubok__blue {
            width: 320px;
            background-position: center;

        }
    }



    .organizers {
        &__footnote {
            margin-left: 0px;
        }

        .container {
            padding-left: 10px;
        }

        &__desc {
            padding-top: 10px
        }

        .info {
            margin-left: 0px;

            &__item {
                width: 230px;
                height: 150px;
                padding-left: 20px;
                padding-top: 20px;

                span {

                    font-size: 40px;
                    line-height: 110%;
                }

                p {

                    font-size: 16px;
                    line-height: 110%;
                }
            }
        }
    }

    .partner {
        &__title {
            letter-spacing: 0.1px;
        }
    }

    .application {
        &__btn {
            padding: 5px 44px;
        }
    }

    .pre-footer {
        .container {
            padding-left: 10px;
        }

        &__pictures {
            display: none;
        }
    }

    .footer {
        &__content {
            h4 {
                font-size: 10px;
            }

            span {
                font-size: 8px;
            }
        }
    }
}